<div class="container">
    <div class="input" *ngIf="!display">
        <div><h1>Enter a Sequence</h1></div>
        <div><input type='text' (keyup.enter)="encode()" [(ngModel)]=inputString placeholder='Enter a sequence'></div>
        <div><button (click)="encode()">Encode</button></div>
    </div>
    <div class="display" *ngIf="display">
        <div>
            <h3 class="before">the Encoded Sequence is: </h3>
        </div>
       <div><h2 [class.tooLong]="tooLong" >'{{encodedText}}'</h2> </div>
        <div class="newSeq" >
         <h1 (click)="reset()" >New Sequence +</h1>
        </div>
    </div>
</div>